* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  width: 50vw;
}

.chat-history {
  width: 100%;
  height: 70vh;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px 0;
  border-radius: 5px;
}

input {
  width: 100%;
  height: 4vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.chat-input {
  width: 100%;
  display: inline-flex;
  gap: 1vw;
}

.chat-input button {
  width: 15vw;
  height: 100%;
  border: none;
  color: #FFF;
  font-weight: 600;
  border-radius: 5px;
  background-color: #190fac;
  cursor: pointer;
}

.error {
  background-color: rgb(205, 66, 66);
  border: 1px solid rgb(203, 53, 53);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 100%;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-message {
  padding-left: 10px;
  padding: 0 0 10px 10px;
  width: 100%;
}

.chat-message:nth-child(2n) {
  background-color: #ccc;
}

.message-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-sender {
  font-weight: 600;
  font-size: 1.2rem;
}

.message-content {
  margin-top: 5px;
  color: #555;
}